body {
    background-color: black;
    font-family: Helvetica;
    color: seashell;
    opacity: 0.9;
    font-size: 22px;
    text-align: center;
}

header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    height: 50px;
    margin: 10px;
}

.nav li {
    display: inline-block;
    margin-left: 20px;
    text-decoration: underline;
}
a {
    color: inherit  ;
}

.container1 {
    display: flex;
    height: 700px;
    background-image: url("../Resources/background.png");
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    
}
.block1 {
    background-color: black;
}

